* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2D3E50;
    font-family: 'Arial', sans-serif;
}

.calculator {
    background-color: #394A6D;
    padding: 20px;
    border-radius: 10px;
}

.display {
    height: 50px;
    width: 100%;
    background-color: #101828;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #F3F4F6;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #E5E7EB;
}

.operator {
    background-color: #A0AEC0;
}

.operator:hover {
    background-color: #718096;
}

.equal {
    grid-column: span 4;
    background-color: #F56565;
    color: white;
    font-size: 22px;
}

.equal:hover {
    background-color: #E53E3E;
}
